<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">create user</a>
    </div>
    <div class="form-add-new">
        <form action="/update-user" method="post">
            <fieldset>
                <legend>Update user</legend>
                <div class="input-group">
                    <label for="">email</label>
                    <input type="text" name="email" value="<%= user.email %>" id="">
                </div>
                <div class="input-group">
                    <label for="">name</label>
                    <input type="text" name="name" value="<%= user.name %>" id="">
                </div>
                <div class="input-group">
                    <label for="">city</label>
                    <input type="text" name="city" value="<%= user.city %>" id="">
                </div>
                <input type="hidden" name="id" value="<%= user.id %>">
                <div>
                    <button type="submit">save</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>